@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Cinzel:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Archivo", sans-serif;
    /* font-family: "Merriweather", serif; */
    /* font-family: "Bebas Neue", sans-serif; */
    /* font-family: "Raleway", sans-serif; */
    /* font-family: "Cinzel", serif; */
    /* font-family: "Montserrat", sans-serif; */
    /* font-family: "Lora", serif; */
    /* font-family: "Playfair Display", serif; */
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #1e252d;
    color: #333;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: repeat;
    /* transform: scaleY(-1); */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

canvas {
  display: block;
}

.canvas-container {
    position: relative;
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    margin-top: 40vh; /* Adjust the margin-top to center the canvas vertically */
    transform: translateY(-50%); /* Center the canvas vertically */
}

.scroll-down-btn {
    visibility: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.scroll-down-btn:hover {
    background-color: darkgoldenrod;
}

.scroll-up-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 24px;
    display: none;
    /* Hidden initially */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.scroll-up-btn:hover {
    background-color: darkgoldenrod;
}

/* Header*/
header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    z-index: 1000;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 1s ease-in, transform 0.3s ease-in-out;
    transform: translateY(0);
}

/* Container for logo and nav */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* Logo */
.logo {
    width: 100px;
    height: auto;
}

/* Navigation */
nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    /* font-family: "Playfair Display", serif; */
}

nav ul li a:hover {
    color: darkgoldenrod;
}

/* Hamburger menu */
.hamburger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/* Main Content */
main {
    margin-top: 20px;
}

/* Default state for sections (hidden by opacity) */
.fade-section {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* When a section is in view, this class will be added to fade it in */
.fade-in {
    opacity: 1;
}

/* Section */
.about-container, .team-container, .projects-container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px
}

.section-title {
    color: darkgoldenrod;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    /* font-family: "Playfair Display", serif; */
}

.contact-text {
    color: darkgoldenrod;
    text-align: center;
    width: 90%;
    margin-bottom: 30px;
    font-size: 18px;
    /* font-family: "Playfair Display", serif; */
}

.content-text {
    color: #fff;
    text-align: left;
    width: 90%;
    margin-bottom: 30px;
    font-size: 18px;
}

.team-content {
    width: 90%;
}

.team-content>.content-text {
    width: 100%;
}

.headshot {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    object-fit: cover;
}

.carousel-wrapper {
    width: 80vw;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    padding: 20px 0;
    /* optional, adjust based on spacing you want */
}

/* Adjust carousel-box (keep overflow hidden on slides only) */
.carousel-box {
    /* width: 80vw; */
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 20px;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

.swiper-container:hover {
    filter: brightness(0.95);
    transition: filter 0.3s ease;
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.project-image {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-radius: 10px;
}

.swiper-button-prev,
.swiper-button-next {
    color: white;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: none;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 10;
    position: absolute;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: darkgoldenrod;
}


.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px;
}

.film-tv-prev,
.digital-media-prev {
    left: -50px;
}

.film-tv-next,
.digital-media-next {
    right: -50px;
}

.social-icons {
  text-align: center;
}

.social-icons a {
  color: darkgoldenrod;
  margin: 0 12px;
  font-size: 32px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: gold;
}

/* Form */
.form-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 20px;
    /* background-color:antiquewhite; */
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-text{
    color: #fff;
    text-align: center;
    width: 70%;
    margin-bottom: 30px;
    font-size: 24px;
}

form {
    width: 90%;
    max-width: 600px;
}


.input-group{
    margin-bottom: 40px;
    position: relative;
}

input, textarea{
    width: calc(100% - 22px);
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}

label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}

button{
    width: 100%;
    padding: 10px;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    background: transparent;
    cursor: pointer;
}

button:hover,
input:hover,
textarea:hover
{
    filter: brightness(0.6);
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label
{
    top:-35px;
    font-size: 14px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Hide the regular navigation on small screens and show the hamburger menu */
@media (max-width: 768px) {
    nav {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    /* Display the navigation menu when active */
    nav.active {
        display: flex;
        /* Use flex instead of block for consistent layout */
        flex-direction: column;
        /* Ensure it stacks vertically */
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        text-align: center;
    }

    nav.active ul {
        flex-direction: column;
        margin: 0;
    }

    nav.active ul li {
        margin: 10px 0;
    }

    .headshot {
        width: 100px;
        height: 100px;
    }

    .canvas-container {
        margin-top: 40px;
        transform: none;
    }
}
